
<main>
  <header class="header">
    <h1>Buscador Cocteles</h1>
  </header>
  <div>
    <form class="form">
      <label for="inputDrink">
        <input class="input js_input" class="inputb" type="text" placeholder="Tu cocktail" id="inputDrink" value=""/></label>
   

  <button class="btn js_btn_search">
    <a href="https://www.thecocktaildb.com/">SEARCH</i></a>
  </button> 

  <div id="searchResultContainer"></div>
  <div id="searched-drink-card"></div>
  <div id="favoriteDrinksContainer"></div>

  <button class="reset"> @ </button>
 
   
 
  

</div>
</form>

</main>
