<section class="_listado" id="coctel-container">
    <ul class="list js_list" id="coctel-list">
        <li><img class="img" src="https://www.thecocktaildb.com/images/media/drink/5noda61589575158.jpg" alt="coctel1" id="coctel-list"><p>Margarita</p></li>
        <li><imgclass="img"  src="https://www.thecocktaildb.com/images/media/drink/bry4qh1582751040.jpg" alt="coctel2" id="coctel-list"><p>Blue Margarita</p></li>
        <li><img class="img" src="https://www.thecocktaildb.com/images/media/drink/loezxn1504373874.jpg" alt="coctel3" id="coctel-list"><p>Tommy Margarita</p></li>
        <li><img class="img" src="https://www.thecocktaildb.com/images/media/drink/srpxxp1441209622.jpg" alt="coctel4" id="coctel-list"><p>Whitecap Margarita</p></li>
        <li><img class="img" src="https://www.thecocktaildb.com/images/media/drink/tqyrpw1439905311.jpg" alt="coctel5" id="coctel-list"><p>Strawberry Margarita</p></li>
        <li><img class="img" src="https://www.thecocktaildb.com/images/media/drink/dztcv51598717861.jpg" alt="coctel6" id="coctel-list"><p>Smashed Watermelon Margarita</p></li>
    </ul>
</section>