<section class="listado" id="coctel-container">



    <ul class="list js_list">


        <li class="js_img">
            <img src="https://www.thecocktaildb.com/images/media/drink/5noda61589575158.jpg" alt="coctel1" 
            id="strDrink1">


            <p>Margarita</p>
        </li>
        <li class="js_img">
            <img src="https://www.thecocktaildb.com/images/media/drink/bry4qh1582751040.jpg" alt="coctel2" id="strDrink2">


            <p>Blue Margarita</p>
        </li>
        <li class="js_img">
            <img src="https://www.thecocktaildb.com/images/media/drink/loezxn1504373874.jpg" alt="coctel3" id="strDrink3">

            <p>Tommy Margarita</p>
        </li>
        <li class="js_img"> 
            <img src="https://www.thecocktaildb.com/images/media/drink/srpxxp1441209622.jpg" alt="coctel4" id="strDrink4">
            <p>Whitecap Margarita</p>
        </li>
        <li class="js_img">
            <img src="https://www.thecocktaildb.com/images/media/drink/tqyrpw1439905311.jpg" alt="coctel5" id="strDrink5">
            <p>Strawberry Margarita</p>
        </li>
        <li class="js_img">
            <img src="https://www.thecocktaildb.com/images/media/drink/dztcv51598717861.jpg" alt="coctel6" id="strDrink6">
            <p>Smashed Watermelon Margarita</p>
        </li>
    </ul>

</section>